.App-input {
  text-align: left;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-info {
  background-color: #282c34;
  font-size: calc(20px + 4vmin);
  color: white;
  align-items: left;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.App-save {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
}